.section-dark {
    background-color: black;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogo {
    color: white;
    font-size: 30px;
    margin-top: 15px
}

h4{
    color: white;
}