@import "../../styles/styles.css";

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: var(--Color1);
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: var(--Color1);
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background: var(--Color1);
}

.ant-btn-primary:hover, .ant-btn-primary:focus, .ant-btn-primary {
    background-color: var(--Color1);
    border-color: var(--Color1);
}
.header-banner{
    margin-bottom: 20px;
    background-color: black;
    height: 120px;
}

.create-text {
    font-style: normal;
    line-height: 34px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #000000;
}