@import "../../../styles/styles.css";
.image-section {
    display: flex;
    background-image: url("../../../assets/img/1x/Asset\ 1.png");
    visibility: visible;
    height: 664px;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
}
.header-section{
    padding-top: 100px;
    margin-right: 70px;
}
.header-text {
    /* losing someone is hard */
    color: #505050;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.header-text-sub {
    /* But together... */
    color: white;
    font-size: 55px;
    font-weight: normal;
    text-align: center;
    line-height: 65px;
}
.btn-holder{
    margin-top: 75px;
    text-align: center;
}
.button-learn-more {
    text-align: center;
    font-size: 35px;
    border-color: white;
    color: #8FC36B;
    background-color: white;
    font-weight: normal;
    background-color:  white;
    transition: .5s ease;
    border-radius: 9px;
    padding-left: 25px;
    padding-right: 25px
}
.button-learn-more:hover {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
    transition: .5s ease;
}
.button-learn-more:focus {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
}
.button-learn-more:active {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
}


@media screen and (max-width: 1350px) {
    .tree{
        width: 645px;
        height: auto;
        position: absolute;
        left:-10px
    }
    .image-section {
        height: 565px;
    }
    .header-text {
        /* losing someone is hard */
        font-size: 45px;
    }
    .header-text-sub {
        /* But together... */
        font-size: 45px;
    }
    
}
@media screen and (max-width: 1170px) {
    .tree{
        width: 645px;
        height: auto;
        position: absolute;
        left:-120px
    }
    .image-section {
        height: 565px;
    }
    .header-text {
        /* losing someone is hard */
        font-size: 40px;
    }
    .header-text-sub {
        /* But together... */
        font-size: 40px;
    }
    
}
  
/* If the screen size is 992px wide or less (small screen)*/
@media screen and (max-width: 996px) {
    .tree{
        width: 505px;
        height: auto;
        position: absolute;
        left:-100px
    }
    .image-section {
        max-height: 455px;

    }
    .header-section{
        padding-top: 75px;
    }
    .header-text {
        /* losing someone is hard */
        font-size: 30px;
    }
    .header-text-sub {
        /* But together... */
        font-size: 30px;
        line-height: 40px;
    }
    .btn-holder{
        margin-top: 50px;
        text-align: center;
    }
    .button-learn-more {
        font-size: 30px;
    }
    
}
/* even smaller */
@media screen and (max-width: 770px) {
    .tree{
        width: 455px;
        height: auto;
        position: absolute;
        left:-120px
    }
    .image-section {
        max-height: 400px;
    }
    .header-section{
        padding-top: 55px;
    }
    .header-text {
        /* losing someone is hard */
        font-size: 25px;
    }
    .header-text-sub {
        /* But together... */
        font-size: 25px;
        line-height: 40px;
    }
    .btn-holder{
        margin-top: 30px;
        text-align: center;
    }
    .button-learn-more {
        font-size: 20px;
    }
   
}
@media screen and (max-width: 599px) {
    .header-section{
        padding-top: 75px;
        margin-right: 0px;
    }
    .tree-col{
        display: none !important;
    }
}
