.image-wave {
    display: flex;
    background-image: url("../../../assets/img/1x/wave_section.png");
    visibility: visible;
    height: 664px;
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
}
.wave-header-section{
    padding-top: 50px;
    margin-left: 50px
}
.memory-graphic{
    width: 60%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 100px;
}
.information{
    color: white;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
}
.divider-dot{
    text-align: center;
    font-size: 25px;
    color: white
}
.header-text-celebrate{
    /* Create a digital memory... */
    color: #505050;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
.header-text-celebrate-emphasis{
    /* Create a digital memory... */
    color: #505050;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}
a{
    color: rgb(111, 93, 136);
    font-weight: bold;
}
a:hover{
    color: white
}

@media screen and (max-width: 1152px) {
    .information{
        font-size: 20px;
    }
    .memory-graphic{
        top: 35%;
    }
    .header-text-celebrate{
        /* Create a digital memory... */
        font-size: 28px;
        margin-bottom: 25px;
    }
    .header-text-celebrate-emphasis{
        /* Create a digital memory... */
        font-size: 42px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 875px) {
    .information{
        font-size: 20px;
    }
    .memory-graphic{
        height: 200px;
        width: auto;

        top: 45%;
    }
    .header-text-celebrate{
        /* Create a digital memory... */
        font-size: 25px;
        margin-bottom: 25px;
    }
    .header-text-celebrate-emphasis{
        /* Create a digital memory... */
        font-size: 40px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 770px) {
    .wave-header-section{
        padding-top: 100px;
        margin-left: 0px
    }
    .image-wave {
        display: flex;
        background-image: url("../../../assets/img/1x/wave_section.png");
        visibility: visible;
        height: 664px;
        width: 100%;
        overflow: hidden;
        background-size: 100% 100%;
    }
    .memory-graphic{
        display: none !important
    }
    
}
@media screen and (max-width: 770px) {
    .wave-header-section{
        padding-top: 120px;
    }
    .image-wave {
        height: 884px;

    }
}