.box {
    border-color: rgb(60, 194, 34);
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    height: 220px;
    padding: 10px;
    text-align: center;
}

.circle {
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: 25px;
}
.number {
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon-img {
    margin-bottom: 15px;
}
@media only screen and (max-width: 990px) {
    .box {
      width: 100%;
      height: 290px;
    }
}

@media only screen and (max-width: 767px) {
    .box {
      width: 100%;
      height: 200px;
      margin: 10px
    }
}