.box {
    border-color: #8FC36B;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    width: 200px;
    height: 220px;
    padding: 20px 5px;
    text-align: center;
}

.circle {
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    border-width: 2px;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: 25px;
}
.number {
    position: relative;
    font-weight: 700;
    font-size: large;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon-img {
    margin-bottom: 15px;
}
@media only screen and (max-width: 990px) {
    .box {
      width: 100%;
      height: 290px;
    }
}

@media only screen and (max-width: 767px) {
    .box {
      width: 100%;
      height: 200px;
      margin: 10px
    }
}
@media only screen and (max-width: 366px) {
    .box{
      height: 260px;
    }
  }