@import "../../styles/styles.css";

.header{
    margin-bottom: 105px;
    
}
.title{
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}

.menu-options {
    padding-top: 10px;
    color: #8FC36B;
}
.search-area{
    margin-right: 20px;
    display: block;
}
.search-bar {
    /* margin-right: 30px;
    background-color: rgba(255, 255, 255, 0.548);
    border-width: 5;
    border-radius: 50; */
    background: white;
    border: #8FC36B;
    border-style: solid;
    border-radius: 50px;
}
.search-bar:focus {
    background: rgba(255, 255, 255, 0.336);
    border: none;
    color:#8FC36B;

}
.search-bar::placeholder {
    color: #8FC36B
}
.navBar-custom {
    background-color: white;
}
.navBar-custom-dark {
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: 0px 1px #0000002c;
}

.header-link {
    color: #8FC36B;
}
.username {
    margin-right: 30px;
}
.navbar-collapse.show, .navbar-collapse.collapsing{
    background: rgba(0, 0, 0, 0.952);
    text-align: center;
    border-radius: 5%;
}

.form-inline{
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px
}