@import "../../styles.css";

.title{
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}

.menu-options {
    padding-top: 10px;
}

.search-bar {
    padding-right: 20px;
}

#btnGroupAddon {
    border-radius: 4px;
}
