@import "../../styles/styles.css";

.title{
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer;
}

.menu-options {
    padding-top: 10px;
}

.search-bar {
    padding-right: 20px;
}

#btnGroupAddon {
    border-radius: 4px;
}
.header {
    margin-bottom: 76px;
}

.navBar-custom {
    background-color: rgba(0, 0, 0, 0.555);
}