.button-both {
    background-color : #ffffff;
    color: #54723f;
    padding: 10px 20px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgba(98, 98, 98, 0.692);
    box-shadow: 4px 4px #888888a2;
    transition: .5s ease;
}

#create-memory{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.button-both:hover {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
    transition: .5s ease;
}
.button-both:focus {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
}
.button-both:active {
    color: var(--Color5);
    background-color: var(--Color1);
    border-color: var(--Color1);
}

@media screen and (max-width: 420px) {
    .button-both {
        background-color : #ffffff;
        color: #54723f;
        padding: 10px 20px;
        font-size: 12px;
        border-radius: 4px;
        border-style: solid;
        border-color: rgba(98, 98, 98, 0.692);
        box-shadow: 4px 4px #888888a2;
    }
}