/* Relating to font format */
@font-face {
  font-family: 'Euphemia';
  src: local('Euphemia'), url(assets/fonts/euphemia.ttf) format('woff');
}

* {
  font-family: Euphemia, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

/* Relating to page format */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Colors for consistency */
:root{
    --Color1: #4cc247;
    --Color2: #4a9532;
}

/* Vanilla CSS that many files would be using */
.absoluteMiddle{
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.emphasis {
    font-weight: bold;
}
.section {
    background-color: white;
    visibility: visible;
    min-height: 250px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;
    padding: 30px;
}