@import "../../styles/styles.css";

a {
    color: var(--Color2);
}

.ant-input:hover {
    border-color: var(--Color1);
}

.ant-input:focus {
    border-color: var(--Color1);
}

.ant-input-password:hover {
    border-color: var(--Color1);
}

.ant-input-password:focus {
    border-color: var(--Color1);
}

.ant-btn-primary {
    background-color: var(--Color1);
    border-color: var(--Color1);
}

.ant-btn-primary:focus {
    background-color: var(--Color1);
    border-color: var(--Color1);
}

.ant-btn-primary:hover {
    background-color: var(--Color1);
    border-color: var(--Color1);
}
